.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navbar{
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  width: 100%;
}

.navbrand{
  flex:1;
  margin:10px;
  color:white;
  text-decoration: none;
}

.navlinks{
  margin:10px;
  color:white;
  text-decoration: none;
  float:right;
}
